<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% with profile=user.profile %}
    <h1>Hello {{ user.username }}</h1>
        <p>{{ profile.earned }}</p>
        <p>{{ profile.hold }}</p>
        <p>{{ profile.difference }}</p>
        <ul>
        {% for note in profile.notes_set.all %}
            <li>{{ note.date }}</li>
        {% endfor %}
        </ul>
    {% endwith %}
    <a href="{% url 'logout' %}">Log out</a>
</body>
</html>