{% extends "base.html" %}

{% block head %}
    <style>
        .positive { color: green; }
        .negative { color: red; }
        .percentage {}
    </style>
    <script type="text/javascript">
        $(document).ready(function () {
            $("p").each(function (i) {
                const n = parseFloat($(this).text());
                if(!isNaN(n)) {
                    if (n >= 0) {
                        $(this).toggleClass('positive');
                    } else {
                        $(this).toggleClass('negative');
                    }
                    $(this).text(new Intl.NumberFormat().format(n));
                }
                if($(this).hasClass('percentage') === true) {
                    $(this).append('%');
                }
            })
        });
    </script>
{% endblock %}

{% block content %}
    {% with profile=user.profile %}
    <h1>Hello {{ user.username }}</h1>
        <p>{{ profile.earned }}</p>
        <p>{{ profile.hold }}</p>
        <p>{{ profile.difference }}</p>
        <p>{{ profile.note_set.first.daily_diff }}</p>
        <p>{{ profile.get_pnl_by_period }}</p>
        <p class="percentage">{{ daily_pnl }}</p>
        <p class="percentage">{{ lmi }}</p>
    {% endwith %}
{% endblock %}