{% extends "base.html" %}

{% block head %}
    <style>
        .positive { color: green; }
        .negative { color: red; }
        .percentage {}
    </style>
    <script type="text/javascript">
        $(document).ready(function () {
            $("p").each(function (i) {
                const n = parseFloat($(this).text());
                if(!isNaN(n)) {
                    if (n >= 0) {
                        $(this).toggleClass('positive');
                    } else {
                        $(this).toggleClass('negative');
                    }
                    $(this).text(new Intl.NumberFormat().format(n));
                }
                if($(this).hasClass('percentage') === true) {
                    $(this).append('%');
                }
            })
        });
    </script>
{% endblock %}

{% block content %}
    {% with profile=user.profile %}
    <h1>Hello {{ user.username }}</h1>
        <p>{{ profile.earned }}</p>
        <p>{{ profile.hold }}</p>
        <p>{{ profile.difference }}</p>
        <p>{{ profile.note_set.first.daily_diff }}</p>

        <p>today: {{ profile.get_today_pnl }}</p>
        <p>week: {{ profile.get_week_pnl }}</p>
        <p>month: {{ profile.get_month_pnl }}</p>
        <p>(3)month: {{ profile.get_three_month_pnl }}</p>
        <p>(6)month: {{ profile.get_half_year_pnl }}</p>

        <p class="percentage">today: {{ profile.get_p_today_pnl }}</p>
        <p class="percentage">week: {{ profile.get_p_week_pnl }}</p>
        <p class="percentage">month: {{ profile.get_p_month_pnl }}</p>
        <p class="percentage">(3)month: {{ profile.get_p_three_month_pnl }}</p>
        <p class="percentage">(6)month: {{ profile.get_p_half_year_pnl }}</p>
    {% endwith %}
{% endblock %}