.percentage.positive {
    color: #3e7
}

.percentage.negative {
    color: #e34;
}

html body {
  font-family: Arial, sans-serif;
  background-color: #222;
  color: #ddd;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

img {
  max-width: 100%;
}

ul li {
    list-style-type: none;
}

header {
  display: flex;
  background-color: #111;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px;
}

header > img {
  width: 230px;
  display: block;
}

header ul, li {
  display: inline-block;
  padding: 0 5px;
}

header > ul > li > a {
  font-size: 20px;
    font-weight: bold;
    text-decoration: none;
  text-align: center;
  height: 100%;
    color: #ddd;
}

header > ul > li > a:hover {
    color: #fff;
}

footer {
  display: flex;
  background-color: #111;
  padding: 20px 0;
  
  flex-direction: column;
  text-align: center;
  margin-top: auto;
}

footer > ul {
  display: flex;
  margin: auto;
  padding: 0
}

footer > ul > li {
  margin: 0 10px;
}

footer > div {
  padding: 15px 0;
  margin: auto;
}

footer img {
  width: 40px;
}