form {
  color: #aaa;
  margin: 10%;
  background-color: #000;
  border-radius: 25px;
  text-align: center;
  padding: 25px;
  display: flex;
  flex-direction: column;
}

table p {
  font-size: 18px;
}

table, tr, td { 
  border: 1px solid #434; 
  font-size: 30px; 
  padding: 20px; 
  margin: 0; 
  width: auto;
  text-align: left;
}

input[type=button] {
  background: none;
  border: none;
  color: #aaa;
  border-bottom: 3px dotted #aaa;
  font-size: 30px;
}

input[type=number], input[type=text], input[type=password] {
  background: 0;
  background-color: #222;
  border: 1px solid #666;
  font-size: 30px;
  color: #aaa;
  padding: 5px;
  width: 100%;
}

input[type=number] {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    display: none;
}

input[type=submit], #signUp {
  margin: auto;
  font-size: 36px;
  background-color: #2d7;
  color: #000;
  border: none;
  border-radius: 15px;
  padding: 10px;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

#content h1 {
  display: flex;
  font-size: 60px;
  margin: 0;
  justify-content: center;
  margin-top: 10%;
}

#signUp {
  text-decoration: 0;
  background-color: #e62
}

span {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 15px 0;
}

@media only screen and (max-width: 1200px) {
    footer {
      margin-bottom: -9%;
      margin-right: 0;
    }
  
  form {
    margin: 10% 3%;  
  }
  
  table, tr, td 
  { 
    border: 1px solid #434; 
    font-size: 40px;
    font-weight: bold;
    padding: 20px; 
    margin: 0; 
    width: auto;
    text-align: left;
  }
  
  input[type=button] {
    font-size: 20px;
  }
  
  input[type=number], input[type=text], input[type=password] {
    width: 100%;
    font-size: 20px;
  }
}