#content form {
    margin: 10%;
    padding: 0 40px 0 0;
}

#content form ul li {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 15px;
}

#content > ul > li > h2, h3, h5 {
    padding: 0;
    margin: 10px 0;
} 