#history {
  color: #aaa;
  margin: 50px 5%;
  background-color: #000;
  border-radius: 25px;
  z-index: 2;
  text-align: center;
  padding: 25px;
  display: flex;
  flex-direction: column;
}

h1 {
  margin-top: -30px;
}

table {
  width: 100%;
}

table, th, tr, td {
  border: 2px solid #111;
  border-collapse: collapse;
  padding: 12px 7px;
  border: 1px solid #666;
}

table tr:hover td{
  background-color: #444;
}

.paginator {
  margin: 15px 0;
  font-size: 30px;
}

.paginator a {
  color: #aaa;
  text-decoration: none;
  margin: 0 40px;
}

.paginator a:hover {
  color: #fff;
}

table a {
  font-weight: bold;
  text-decoration: none;
  background-color: #e34;
  color: #ddd;
  border-radius: 15px;
  padding: 5px;
}

table a:hover { opacity: 0.5; }

@media only screen and (max-width: 1200px) {
  #history {
    margin: 0;
    font-size: 18px;
    border-radius: 0;
  }
}