{% extends 'base.html' %}
{% load static %}
{% block head %}
    <title>Add note</title>
    <link rel="stylesheet" href="{% static 'form_styles.css' %}">
    <link rel="stylesheet" href="{% static 'add_note_styles.css' %}">
    <script type="text/javascript">
        $(document).ready(function() {
            $('#insert_from_last_date').click(function (e) {
                $('#id_date').val(this.value);
            });
            $('#insert_from_last_earn').click(function (e) {
                $('#id_earn').val(this.value);
            });

            $('#insert_from_last_bank').click(function (e) {
                $('#id_bank').val(this.value);
            });

            $('#insert_from_last_deposit').click(function (e) {
                $('#id_deposit').val(this.value);
            });
            setInterval(function () {
                $('#insert_from_last_date').val(new Date().toISOString());
            }, 1000);
        });
    </script>
{% endblock %}
{% block main %}
    <form method="post" action="{% url 'history:add_note' %}">
        {% csrf_token %}

        <ul>
            <li>
                <h2>{{ form.date.label }}</h2>
                {{ form.date }}
                <h5>current <input id="insert_from_last_date" type="button"/></h5>
            </li>

            <li>
                <h2>{{ form.earn.label }}</h2>
                {{ form.earn }}
                <h5>last note has <input id="insert_from_last_earn" type="button" value="{{ user.profile.get_last_earn }}"/></h5>
            </li>

            <li>
                <h2>{{ form.bank.label }}</h2>
                {{ form.bank }}
                <h5>last note has <input id="insert_from_last_bank" type="button" value="{{ user.profile.get_last_bank }}"/></h5>
            </li>

            <li>
                <h2>{{ form.deposit.label }}</h2>
                {{ form.deposit }}
                <h5>last note has <input id="insert_from_last_deposit" type="button" value="{{ user.profile.get_last_depo }}"/></h5>
            </li>

            <li>
                <h2>{{ form.comment.label }}</h2>
                {{ form.comment }}
                <h5>last note has <input id="insert_from_last_comment" type="button" value="{{ user.profile.get_last_comment }}"/></h5>
            </li>

            <li><input type="submit" value="Add Note" /></li>
        </ul>
    </form>
{% endblock %}