{% extends 'base.html' %}
{% load static %}
{% block head %}
    <title>Add note</title>
    <link rel="stylesheet" href="{% static 'form_styles.css' %}">
    <script type="text/javascript">
        $(document).ready(function() {
            $('#insert_from_last_date').click(function (e) {
                $('#id_date').val(this.value);
            });
            $('#insert_from_last_earn').click(function (e) {
                $('#id_earn').val(this.value);
            });

            $('#insert_from_last_bank').click(function (e) {
                $('#id_bank').val(this.value);
            });

            $('#insert_from_last_deposit').click(function (e) {
                $('#id_deposit').val(this.value);
            });
            setInterval(function () {
                $('#insert_from_last_date').val(new Date().toISOString());
            }, 1000);
        });
    </script>
{% endblock %}
{% block main %}
    <h1>Add new note</h1>
    <form method="post" action="{% url 'history:add_note' %}">
        <table border="1">
            {% csrf_token %}
            <tr>
                <td>Date</td>
                <td>{{ form.date }}</td>
                <td>
                    <p>
                        current
                        <input id="insert_from_last_date" type="button"/>
                    </p>
                </td>
            </tr>
            <tr>
                <td>Earn</td>
                <td>{{ form.earn }}</td>
                <td>
                    <p>
                        last note has
                        <input id="insert_from_last_earn" type="button" value="{{ last_note.earn }}" />
                    </p>
                </td>
            </tr>
            <tr>
                <td>Bank</td>
                <td>{{ form.bank }}</td>
                <td>
                    <p>
                        last note has
                        <input id="insert_from_last_bank" type="button" value="{{ last_note.bank }}" />
                    </p>
                </td>
            </tr>
            <tr>
                <td>Deposit</td>
                <td>{{ form.deposit }}</td>
                <td>
                    <p>
                        last note has
                        <input id="insert_from_last_deposit" type="button" value="{{ last_note.deposit }}"/>
                    </p>
                </td>
            </tr>
            <tr>
                <td>Comment</td>
                <td>{{ form.comment }}</td>
                <td><p>last note has</p>{{ last_note.comment }}</td>
            </tr>
        </table>
        <input type="submit" value="Add Note" />
    </form>
{% endblock %}