{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'history_styles.css' %}">

    <script type="text/javascript">
        $(document).ready(function () {
            $('td').each(function () {
                if($(this).hasClass('formatted')) {
                    const n = parseInt($(this).text())
                    $(this).text(new Intl.NumberFormat().format(n))

                    if($(this).hasClass('colored')) {
                        if (n < 0) {
                            $(this).addClass('negative');
                        } else if (n > 0) {
                            $(this).addClass('positive');
                        }
                    }
                }
            });
        });
    </script>

{% endblock %}

{% block main %}
    <div id="history">
    <table border="1">
        <tr>
            <td>Date</td>
            <td>Earn</td>
            <td>Bank</td>
            <td>Deposit</td>
            <td>Total</td>
            <td>Daily difference</td>
            <td>Difference</td>
            <td>Comment</td>
        </tr>
        {% for note in page_obj %}
            <tr>
                <td>{{ note.date.day }}-{{ note.date.month }}-{{ note.date.year }}</td>
                <td class="formatted colored">{{ note.earn }}</td>
                <td class="formatted">{{ note.bank }}</td>
                <td class="formatted">{{ note.deposit }}</td>
                <td class="formatted">{{ note.total }}</td>
                <td class="formatted colored">{{ note.daily_diff }}</td>
                <td class="formatted colored">{{ note.diff }}</td>
                <td>{{ note.comment }}</td>
                <td><a href={{note.id}}>DEL</a></td>
            </tr>
        {% endfor %}
    </table>

    <div class="paginator">
        <span class="step-links">
            {% if page_obj.has_previous %}
            <a href="?page=1">&laquo;First</a>
            <a href="?page={{ page_obj.previous_page_number }}">Prev</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
            {% endif %}
        </span>
    </div>
    </div>
{% endblock %}